<ons-page id="add_item">
  <ons-toolbar>
    <div class="left"><ons-back-button>Back</ons-back-button></div>
    <div class="center">新規商品</div>
  </ons-toolbar>
  <section class="item_form">
    <ons-list>
      <ons-list-header modifier="item-header">カード情報</ons-list-header>
      <ons-list-item modifier="longdivider">
        <span class="list-item__title">商品名</span>
          <ons-input id="name" modifier="material" ng-model="stock.name" size="30"></ons-input>
      </ons-list-item>
      <ons-list-item modifier="longdivider">
        <span class="list-item__title">エキスパンション</span>
        <span ng-if="!stock.exName">未選択</span>
        <span ng-if="!!stock.exName">{{stock.exName}}</span>
        <ons-button modifier="quiet" ng-click="toExpansionPage()">選択する</ons-button>
      </ons-list-item>
      <ons-list-item modifier="longdivider">
        <span class="list-item__title">言語</span>
        <ons-select ng-model="page.language" id="language">
          <option value="ja">日本語</option>
          <option value="en">英語</option>
          <option value="ch">中国語</option>
          <option value="ro">ロシア語</option>
        </ons-select>
      </ons-list-item>
      <ons-list-header modifier="item-header">数量</ons-list-header>
      <ons-list-item modifier="longdivider">
        <span class="list-item__title">数量</span>
        <ons-input id="amount" modifier="material" type="number" ng-model="page.amount" size="2"></ons-input>
      </ons-list-item>
      <ons-list-header modifier="item-header">仕入れ情報</ons-list-header>
      <ons-list-item modifier="longdivider">
        <span class="list-item__title">仕入れ日</span>
        <ons-input id="amount" modifier="material" type="number" ng-model="page.amount" size="2"></ons-input>
      </ons-list-item>
      <ons-list-item modifier="longdivider">
        <span class="list-item__title">1枚当たり仕入れ価格</span>
        <ons-input id="amount" modifier="material" type="number" ng-model="page.amount" size="2"></ons-input>
      </ons-list-item>
    </ons-list>

    <ons-button onclick="add_stock()">追加する</ons-button>
  </section>
</ons-page>
