<ons-page id="add_item">
  <ons-toolbar>
    <div class="left"><ons-back-button>Back</ons-back-button></div>
    <div class="center">新規商品</div>
  </ons-toolbar>
  <section class="item_form">
    <ons-list>
      <ons-list-header modifier="item-header">カード情報</ons-list-header>
      <ons-list-item modifier="longdivider">
        <span class="list-item__title">商品名</span>
          <ons-input id="name" modifier="material" ng-model="stock.name" size="30"></ons-input>
      </ons-list-item>
      <ons-list-item modifier="longdivider">
        <span class="list-item__title">エキスパンション</span>
        <span ng-if="!stock.exName">未選択</span>
        <span ng-if="!!stock.exName" class="mtx-{{stock.exAbbr}}">{{stock.exName}}</span>
        <ons-button modifier="quiet" ng-click="toExpansionPage()">選択する</ons-button>
      </ons-list-item>
      <ons-list-item modifier="longdivider">
        <span class="list-item__title">言語</span>
        <ons-select ng-model="stock.language" id="language" modifier="language">
          <option value="ja">日本語</option>
          <option value="en">英語</option>
          <option value="ch">中国語</option>
          <option value="ro">ロシア語</option>
        </ons-select>
      </ons-list-item>
      <ons-list-item>
        <div class="left switch-layout">
          <label for="is-foil" ng-class="stock.foil?'switch-on':'switch-off'">Foilカード</label>
        </div>
        <div class="center">
          <ons-switch input-id="is-foil" ng-model="stock.foil"></ons-switch>
        </div>
      </ons-list-item>
      <ons-list-item>
        <div class="left switch-layout">
          <label for="is-promo" ng-class="!stock.promo?'switch-off':'switch-on'">プロモカード</label>
        </div>
        <div class="center">
          <ons-switch input-id="is-promo" ng-model="stock.promo"></ons-switch>
        </div>
      </ons-list-item>
      <ons-list-header modifier="item-header">数量と入荷情報</ons-list-header>
      <ons-list-item modifier="longdivider">
        <span class="list-item__title">数量</span>
        <div class="spinner">
            <minus-spinner count="1" limit="0" model="stock.amount"></minus-spinner>
            <span>{{stock.amount}}</span>
            <plus-spinner count="1" limit="10" model="stock.amount"></plus-spinner>
        </div>
      </ons-list-item>
      <ons-list-item modifier="longdivider">
        <span class="list-item__title">入荷日</span>
        <ons-input id="amount" modifier="material" type="number" ng-model="page.amount" size="2"></ons-input>
      </ons-list-item>
      <ons-list-item modifier="longdivider">
        <span class="list-item__title">1枚当たり入荷価格</span>
        <ons-input id="amount" modifier="material" type="number" ng-model="page.amount" size="2"></ons-input>
      </ons-list-item>
      <ons-list-header modifier="item-header">ステータスと日程</ons-list-header>
      <ons-list-item>
        <span class="list-item__title">ステータス</span>
          <ons-select ng-model="stock.status" id="status" modifier="language" ng-init="{{stock.status = 'before-listing'}}" select-id="{{stock.status == 'before-listing'}}">
          <option value="before-listing">出品前</option>
          <option value="listing">出品中</option>
          <option value="await-a-deposit">入金待ち</option>
          <option value="preparing">出荷準備</option>
          <option value="evaluation">評価待ち</option>
          <option value="complete">取引完了</option>
        </ons-select>

      </ons-list-item>
    </ons-list>
    <ons-button modifier="large submit-button" onclick="add_stock()">追加する</ons-button>
  </section>
</ons-page>