<ons-page id="add_expansion">
  <ons-toolbar>
    <div class="left"><ons-back-button>Back</ons-back-button></div>
    <div class="center">エキスパンション選択</div>
  </ons-toolbar>
  <section class="form">
    <ons-select
      ng-model="selectedModifier"
      id="choose-sel"
      ng-change="" class="di-selecter"
    >
      <option value="none">選択してください</option>
      <option ng-repeat="option in options" value="{{option.abbreviation}}">{{option.name}}</option>
    </ons-select>
    {{page.selectedModifier}}
    <div class="flex-container">
      <a href="">
        <span class="mtx-gtc"></span>
      </a>
      <a href="">
        <span class="mtx-akh"></span>
      </a>
      <a href="">
        <span class="mtx-don"></span>
      </a>
      <a href="">
        <span class="mtx-don"></span>
      </a>
      <a href="">
        <span class="mtx-gtc"></span>
      </a>
      <a href="">
        <span class="mtx-war"></span>
      </a>
      <a href="">
        <span class="mtx-hou"></span>
      </a>
      <a href="">
        <span class="mtx-don"></span>
      </a>
      </div>
  </section>
</ons-page>
