<ons-page id="add_expansion">
  <ons-toolbar>
    <div class="left"><ons-back-button>Back</ons-back-button></div>
    <div class="center">エキスパンション選択</div>
  </ons-toolbar>
  <section class="form">
    <ons-select
      ng-model="page.selectedModifier"
      id="choose-sel"
      ng-change="" class="di-selecter"
    >
      <option ng-repeat="option in options" value="{{option.abbreviation}}" >{{option.name}}</option>
    </ons-select>
    <div class="flex-container">
      <a href="">
        <ons-card>
          <span class="mtx-gtc"></span>
          <i class="mtx-mma"></i>
        </ons-card>
      </a>
      <span class="mtx-mma"></span>
      </div>
  </section>
</ons-page>
