<ons-page id="add_expansion">
  <ons-toolbar>
    <div class="left"><ons-back-button>Back</ons-back-button></div>
    <div class="center">エキスパンション選択</div>
  </ons-toolbar>
  <section class="form">
    <ons-select
      ng-model="selectedModifier"
      id="choose-sel"
      class="di-selecter" ng-change="changeDimension()">
      <option value="none">選択してください</option>
      <option ng-repeat="option in options" value="{{option.abbreviation}}">{{option.name}}</option>
    </ons-select>
    <ons-list id="ex-result">
    </ons-list>
  </section>
</ons-page>
