/**/
section.form {
  text-align: center;
  margin-top: 20px;
}

#login-page {
  margin:100px auto 0;
}

#login-page p, #register-page p {
  display: inline-block;
  width: 60%;
}
#login-page p.submit {
  margin-top: 14px;
}

.sales-title {
  width: 80%;
  font-size: 70%;
  color:#666c67;
}

.sales-price {
  font-size: 90%;
  color:#333631;
}