/**/
section.form {
  text-align: center;
  margin-top: 20px;
}

.form > .search-form {
  text-align: left;
}
.search-input {
  width: 100%;
  padding:20px 25px;
  text-align: left;
}

.list-item__title {
  margin-bottom: 5px;
}

/* 一覧表(タイトル) */
.tables-title {
  font-size: 70%;
  color:#666c67;
}

/* 一覧表(内容) */
.tables-content {
  font-size: 90%;
  color:#333631;
}

/* ラベルアイコン */
label.label-icon {
  padding: 1px 8px;
  border-radius: 7px;
  color:white;
  font-weight: bold;
  font-size:80%;
  margin: 0 3px;
  margin-right:0; 
  display: inline-block;
}

label.foil {
  background-image: linear-gradient(to right, #eea2a2 0%, #bbc1bf 19%, #57c6e1 42%, #b49fda 79%, #7ac5d8 100%);
}

label.promo {
  background-image: linear-gradient(-60deg, #ff5858 0%, #f09819 100%);
}

/* 商品管理一覧の数量～仕入れ価格 */
.stock-table {
  width:90%;
}

/* 入力フォーム */
section.item_form {
  width:100%;
  background-color: white; 
}

.sales-title {
  width: 80%;
}

/* エキスパンション選択画面の次元選択 */
.di-selecter {
  width:60%;
  display: inline-block;
  margin-bottom: 15px;
}

.flex-container {
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
}

.flex-container li {
  padding: 1%;
  flex-basis: 20%;
  text-align: center;
}

/* アイコンのみボタン */
.icon-only {
  color:#333631;
  font-size:3em;
}
.flex-container > a {
  font-size:3.5em;
  display: block;
  font-weight: thin;
  text-decoration: none;
  color:black;
  flex-basis: 25%;
  text-align: center;
}