/**/
section.form {
  text-align: center;
  margin-top: 20px;
}

.list-item__title {
  margin-bottom: 5px;
}
.tables-title {
  font-size: 70%;
  color:#666c67;
}

.tables-content {
  font-size: 90%;
  color:#333631;
}

.stock-table {
  width:60%;
}

.sales-title {
  width: 80%;
}
